<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<link rel="icon" href="../wwwroot/icon.png">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<title>VoC</title>
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
	<link rel="stylesheet" href="../wwwroot/styles.css">
</head>

<body>

	<voc class="voc">

		<div class="container ">

			<div class="row">

				<div class="col-sm-12 col-md-4 ">

					<div class="well voc_log-container">
						<form>
							<fieldset>
								<legend>Sign in</legend>
								<div class="form-group label-floating">
									<label for="loginInter" class="control-label">Login</label>
									<input type="email" class="form-control" id="loginInter">
								</div>
								<div class="form-group label-floating">
									<label for="passwordInter" class="control-label">Password</label>
									<input type="password" class="form-control" id="passwordInter">
								</div>
							</fieldset>

						</form>
						<a href="javascript:login()" id="loginBtn" class="btn btn-default btn-lg btn-block btn-raised btn-primary voc_log-container-button">Log in</a>
						<a href="javascript:logout()" id="logoutBtn" class="btn btn-default btn-lg btn-block btn-raised btn-primary voc_log-container-button"
							style="display: none">Log out</a>
					</div>

					<div class="well voc_log-container">
						<form>
							<fieldset>
								<legend>Create new account</legend>
								<div class="form-group label-floating">
									<label for="loginReg" class="control-label">Login</label>
									<input type="email" class="form-control" id="loginReg">
									<span class="help-block">enter a valid email address</span>
								</div>
								<div class="form-group label-floating">
									<label for="passwordReg" class="control-label">Password</label>
									<input type="password" class="form-control" id="passwordReg">
									<span class="help-block">password must contain 6 or more characters</span>
								</div>
								<div class="form-group label-floating">
									<label for="passwordRegConfirm" class="control-label">Confirm password</label>
									<input type="password" class="form-control" id="passwordRegConfirm">
									<span class="help-block">passwords must match</span>
								</div>
							</fieldset>
							<a href="javascript:signUp()" class="btn btn-default btn-lg btn-block btn-raised btn-primary voc_log-container-button">Sing up</a>
						</form>
					</div>

				</div>

				<div class="col-sm-12 col-md-8">

					<div class="voc_private-area hidden ">
						<div class="jumbotron">
							<div class="container">
								<h3 id="greeting"></h3>
								<h3> Enter your text down below:</h3>
								<div class="voc_textarea" contenteditable spellcheck="false">
								</div>
							</div>
						</div>

						<div class="well">
							<table class="table table-striped table-hover">
								<thead>
									<tr>
										<th>#</th>
										<th>User</th>
										<th>Number of requests</th>
										<th>Date of last request</th>
										<th>Time between requests</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>1</td>
										<td>Oleg</td>
										<td>2380</td>
										<td>28.11.2016 12:30</td>
										<td>8 sec</td>
									</tr>
									<tr>
										<td>2</td>
										<td>Andrey</td>
										<td>2150</td>
										<td>28.11.2016 10:25</td>
										<td>4 sec</td>
									</tr>
									<tr>
										<td>3</td>
										<td>Dany</td>
										<td>924</td>
										<td>28.11.2016 11:54</td>
										<td>12 sec</td>
									</tr>
									<tr>
										<td>4</td>
										<td>Kate</td>
										<td>580</td>
										<td>28.11.2016 14:10</td>
										<td>10 sec</td>
									</tr>
									<tr>
										<td>5</td>
										<td>Max</td>
										<td>120</td>
										<td>28.11.2016 17:32</td>
										<td>50 sec</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>

				</div>

			</div>

			<p class="voc_footer-links">
				<span>Created by
					<br>
					<a href="//vk.com/neverwind42" target="_blank">Oleg Vasilyev</a>
					& 
					<a href="//vk.com/stalkermanru" target="_blank">Alexander Stukachyov</a> 
				</span>
			</p>

		</div>

	</voc>

	@RenderBody() @Scripts.Render("~/bundles/app-scripts")

	<script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
	<!--Ссылка на автоматически сгенерированный скрипт хаба SignalR -->
	<script src="~/signalr/hubs"></script>
	<script type="text/javascript">
    $(function () {

        var notificationhub = $.connection.userTop;

        notificationhub.client.UpdateList = function (data) {
            console.log("Update statistic")
        };
        $.connection.hub.start();
    });
    </script>

	<script>$.material.init()</script>
</body>

</html>